8F4521 {
	background: #8F4521;
}

DB6B32 {
	background: #DB6B32;
}

8F7C21 {
	background: #8F7C21;
}

DBBF32 {
	background: rgba(219,191,050,0.5);
	background: #DBBF32;
}

707070 {
	background: #707070;
}

8F8F8F {
	background: #8F8F8F;
}


html {
	overflow: scroll;
}

body {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #DBBF32, #000); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0.0, rgba(219,191,050,0.2)),
		color-stop(0.1, rgba(219,191,050,0.4)),
		color-stop(0.2, rgba(219,191,050,0.6)),
		color-stop(0.6, rgba(219,191,050,0.0))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#DBBF32, #DBBF32); /* Chrome 10+, Saf6 */
	background-image: linear-gradient(top, #DBBF32, #DBBF32);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DBBF32', EndColorStr='#DBBF32'); /* IE6–IE9 */
	background-repeat: no-repeat;
}

html, body, div, section, span, p, 
a, ul, li, ol, dl, dd, dt, 
table, tbody, thead, th, tr, td {
	margin: 0;	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font: medium/1.6 Neuton, sans-serif;
	font-weight: bold;
}

div#body {
	font: medium/1.6 Nobile, sans-serif;
	width: 900px;
	margin: auto;
}

div#header {
	margin: 1em;
}

input[type=text] {
	width: 480px;
	height: 30px;
	text-align: left;
	padding: 0 2%;
	font-size: 1.2em;	
}

/* @group This Is One Entry */

div.thisIsOneEntry div {
	overflow: hidden;
	display: inline-block;
}

div.thisIsOneEntry {
	overflow: hidden;
	display: block;
	width: 80%;
	
	margin: 16px auto;
	padding: 16px;
	
	border: 2px solid aqua;
	
	-webkit-border-radius: 8px; 	-khtml-border-radius: 8px; 	-moz-border-radius: 8px; 	border-radius: 8px; 
}

div.thisIsOneEntry div {
	border: 1px solid orange; 
	margin: 8px;
	padding: 8px;
	float: left;
}

div.thisIsOneEntry div input {
	display: block;
}

div.thisIsOneEntry div.modKeys ul li {
	display: inline-block;
}

div.thisIsOneEntry div.modKeys ul li img {
	background-color: transparent;
	height: 50px;
	
	-webkit-border-radius: 10px; 	-khtml-border-radius: 10px; 	-moz-border-radius: 10px; 	border-radius: 10px; 
}

div.thisIsOneEntry div.modKeys ul li:hover img {
	background-color: greenyellow;
}

div.thisIsOneEntry div.modKeys ul li.selected img {
	background-color: orange;
}

div.thisIsOneEntry div.modKeys ul li:first-child {
	display: block;
}


div.thisIsOneEntry div.modKeys {
	
}

div.thisIsOneEntry div.extraKeys {
	
}

div.thisIsOneEntry div.extraKeys input {
	width: 120px;
	height: 50px;
	text-align: center;
	font-size: 2em;
}

div.thisIsOneEntry div.textVersion {
	clear: both;
}

div.thisIsOneEntry div.textVersion span.textVersion {
	display: inline-block;
	width: 200px;
	font-size: 1.4em;
}

div.thisIsOneEntry div.titleDesc {

}

div.thisIsOneEntry div.titleDesc input {

}

div.thisIsOneEntry div.subtitleNotes {

}

div.thisIsOneEntry div.subtitleNotes input {

}

div.thisIsOneEntry div.appName {
	clear: both;
}

div.thisIsOneEntry div.appName input {
	width: 180px;
}

div.thisIsOneEntry div.actionButtons {
	display: inline-block;
}

div.thisIsOneEntry div.actionButtons button {
	width: 120px;
	height: 60px;
}

div.thisIsOneEntry div.actionButtons button.addButton {
	border: 4px solid green; 
}

div.thisIsOneEntry div.actionButtons button.delButton {
	border: 4px solid red; 
}

/* @end */

.selected img {
	background-color: green;
}



span:first-child {
	display: none;
}
