html {
	overflow: scroll;
}

html, body, div, section, span, p, 
a, ul, li, ol, dl, dd, dt, 
table, tbody, thead, th, tr, td {
	margin: 0;	padding: 0;
	list-style: none;
}

div {
	margin: 10px 20px;
	padding: 10px;
	border: 2px solid darkred;
}

/* @group This Is One Entry */

ul.thisIsOneEntry,
ul.thisIsOneEntry li {
	overflow: hidden;
}

ul.thisIsOneEntry li {
	display: inline-block;
	max-width: 180px;
}

ul.thisIsOneEntry li > ul {
}

ul.thisIsOneEntry li > ul > li {
}

ul.thisIsOneEntry li.modKeys > ul > li {
}

ul.thisIsOneEntry li.modKeys > ul > li:first-child {
	display: block;
}

/* @end */

li.appName, 
li.subtitleNotes, 
li.titleDesc 
{
	display: none !important;
}
